* {
  margin: 0;
  padding: 0;
}

.cinema {
  height: 100%;
  overflow: auto;
}

.cinema li {
  list-style: none;
}

.cinema .ant-menu-submenu-popup {
  width: 100%;
}

.cinema .cinema-top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 44px;
  background-color: #fff;
}

.cinema .cinema-top .cinema-name {
  font-size: 17px;
  line-height: 44px;
  color: #000;
}

.cinema .cinema-top .cinema-address {
  font-size: 13px;
  line-height: 44px;
  height: 100%;
  color: #000;
}

.cinema .cinema-top .fdj {
  line-height: 44px;
  font-size: 20px;
}

.cinema .cinema-top .down {
  font-size: 12px;
  line-height: 44px;
}

.cinema .select {
  background-color: #fff;
}

.cinema .select .ant-row {
  height: 50px;
}

.cinema .select .ant-row .ant-col-8 {
  height: 100%;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  color: #000;
}

.cinema .select .ant-row .ant-col-8 .down {
  font-size: 10px;
  line-height: 44px;
}

.cinema .select .sub {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 2;
}

.cinema .select .sub1 {
  width: 100%;
}

.cinema .select .sub1 ul {
  padding: 0;
  padding-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}

.cinema .select .sub1 ul li {
  float: left;
  border-radius: 3px;
  text-align: center;
  height: 30px;
  line-height: 27px;
  width: calc((100vw - 50px)/4);
  font-size: 12px;
  margin: 0 10px 15px 0;
  border: 1px solid rgba(210, 214, 220, 0.5);
}

.cinema .select .sub2 p {
  height: 44px;
  width: 100vw;
  padding: 0 15px;
  color: #797d82;
  margin: 0;
  line-height: 44px;
}

.cinema .select .sub3 p {
  height: 44px;
  width: 100vw;
  padding: 0 15px;
  color: #797d82;
  margin: 0;
  line-height: 44px;
}

.cinema .list ul {
  padding: 0;
  margin: 0;
}

.cinema .list ul li {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #ededed;
  background: #fff;
}

.cinema .list ul li .list-left {
  padding-right: 15px;
  width: calc(100% - 65px);
}

.cinema .list ul li .list-left h5 {
  color: #191a1b;
  font-size: 15px;
  margin: 0;
}

.cinema .list ul li .list-left p {
  color: #797d82;
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cinema .list ul li .list-left span {
  color: #797d82;
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
}

.cinema .list ul li .list-left span:nth-child(3)::before {
  content: " | ";
}

.cinema .list ul li .list-right {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cinema .list ul li .list-right .jiage {
  text-align: center;
  margin: 0;
}

.cinema .list ul li .list-right .jiage .price-text {
  color: #ff5f16;
  font-size: 10px;
}

.cinema .list ul li .list-right .jiage .price {
  color: #ff5f16;
  font-size: 15px;
}

.cinema .list ul li .list-right .juli {
  text-align: center;
  font-size: 11px;
  color: #797d82;
  margin: 0;
  margin-top: 5px;
}
