.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.film {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: pink;
}

.film .ant-carousel {
  width: 414px;
  height: 231px;
  overflow: hidden;
  position: relative;
}

.film .ant-carousel .slick-slider {
  height: 231px;
}

.film .ant-carousel .slick-slider .slick-list {
  height: 231px;
}

.film .ant-carousel .slick-slider .slick-list .slick-track {
  height: 231px;
}

.film .ant-carousel .slick-slider .slick-list .slick-track .slick-slide, .film .ant-carousel .slick-slider .slick-list .slick-track .slick-cloned {
  height: 231px;
}
