* {
  box-sizing: border-box;
}

.nowplaying {
  padding-bottom: 50px;
}

.nowplaying .demo-infinite-container .ant-list-item {
  display: flex;
  padding-left: 10px;
}

.nowplaying .demo-infinite-container .ant-list-item .img_box {
  width: 66px;
}

.nowplaying .demo-infinite-container .ant-list-item .content {
  width: 268px;
  padding: 0 10px;
}

.nowplaying .demo-infinite-container .ant-list-item .content span {
  font-size: 13px;
}

.nowplaying .demo-infinite-container .ant-list-item .content .title {
  font-size: 17px;
}

.nowplaying .demo-infinite-container .ant-list-item .content .title .t_name {
  color: #191a1b;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  margin-right: 5px;
}

.nowplaying .demo-infinite-container .ant-list-item .content .title .t_item {
  font-size: 9px;
  color: #fff;
  background-color: #d2d6dc;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  border-radius: 2px;
}

.nowplaying .demo-infinite-container .ant-list-item .content .n_actors {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowplaying .demo-infinite-container .ant-list-item .ant-btn {
  border: 1px solid #ff5f16;
  border-radius: 4px;
  color: #ff5f16;
}
