.setting {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  height: 100%;
}

.setting .s_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 3000;
  background-color: #fff;
  display: flex;
}

.setting .s_header .left {
  min-width: 15%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.setting .s_header .left img {
  width: 11px;
  height: 18ox;
}

.setting .s_header .center {
  text-align: center;
  font-size: 17px;
  color: #191a1b;
  flex: 1;
}

.setting .s_header .right {
  width: 15%;
}

.setting .u_row_common {
  line-height: 49px;
  height: 49px;
  background: #fff;
  display: flex;
  padding: 0 14px 0 15px;
  align-items: center;
}

.setting .u_row_common span:first-child {
  flex: 1;
}

.setting .u_id {
  margin-bottom: 10px;
}

.setting .u_password {
  margin-bottom: 10px;
}

.setting .u_password img {
  width: 21px;
  height: 12px;
  padding-left: 14px;
}

.setting .u_back {
  margin-bottom: 10px;
}

.setting .u_back img {
  width: 21px;
  height: 12px;
  padding-left: 14px;
}

.setting .u_huancun {
  margin-bottom: 10px;
}

.setting .u_huancun img {
  width: 21px;
  height: 12px;
  padding-left: 14px;
}

.setting .u_logout {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ff5f16;
  height: 49px;
  line-height: 49px;
  background: #fff;
}
